<!DOCTYPE html>

<html>

<head>
    <title>INSCRIPCIONES</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header id="encabezado">
        <!--<div id="iconos">
        <a href="https://www.facebook.com/MuniGuaymallen/?locale=es_LA">
            <img src=" ../assets/imagenes/iconos/icons8-facebook-100.png ">
        </a>
        <a href="https://www.instagram.com/muni.guaymallen/?hl=es">
            <img src="../assets/imagenes/iconos/icons8-instagram-100.png ">
        </a>
        <a href="https://api.whatsapp.com/send/?phone=%2B5492615068885&text&type=phone_number&app_absent=0">
            <img src="../assets/imagenes/iconos/icons8-whatsapp-100.png ">
        </a>

        </div>-->

        <div>
            <img id="logo " src="../assets/imagenes/logo guaymallen.jpg " alt="Logo Guaymallén ">
        </div>
    </header>

    <div class="container-carrusel ">
        <div class="carruseles " id="slider ">
            <section class="slider-section "><img src="../assets/imagenes/carrusel/boxeo.jpeg "></section>
            <section class="slider-section "><img src="../assets/imagenes/carrusel/futbol.jpeg "></section>
            <section class="slider-section "><img src="../assets/imagenes/carrusel/karate.jpg "></section>
            <section class="slider-section "><img src="../assets/imagenes/carrusel/niños futbol.jpeg "></section>
            <section class="slider-section "><img src="../assets/imagenes/carrusel/voley.jpeg "></section>
            <section class="slider-section "><img src="../assets/imagenes/carrusel/yoga.jpeg "></section>
        </div>
        <div class="btn-left "><i class='bx bx-chevron-left'></i></div>
        <div class="btn-right "><i class='bx bx-chevron-right'></i></div>
    </div>

    <h1>INSCRIPCIONES A POLIDEPORTIVOS</h1>

    <div class="contenedor-botones ">
        <div>
            <button type="button ">
                <a   href="form_inscrip_poli.html " style="text-decoration: none; "><strong>Polideportivo Poliguay</strong></a>
            </button>
        </div>

        <div>
            <button type="button ">
                <a href="form_inscrip_loche.html " style="text-decoration: none; "><strong>Polideportivo Nicolino Locche</strong></a>
            </button>
        </div>

        <div>
            <button type="button ">
                <a href="form_inscrip_quino.html " style="text-decoration: none; "><strong>Polideportivo Quino</strong></a>
            </button>
        </div>

    </div>

    <div class="info ">
        <img src="../assets/imagenes/carrusel2/poli.jpg ">
        <img src="../assets/imagenes/carrusel2/loche.jpg ">
        <img src="../assets/imagenes/carrusel2/quino.jpg ">
    </div>


    <script src="../assets/js/main.js "></script>
</body>

</html>